
@{
    ViewBag.Title = "Class";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/admin-lte/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Class</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form>
        <div class="container">
            <div class="box-body">
                <input id="id" hidden />
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <label for="txtClassName" class="col-sm-2 col-md-3 col control-label">Class Name</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="txtClassName" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtPercentBanTest" class="col-sm-2 col-md-3 col control-label">Percent ban test</label>

                            <div class="col-sm-9">
                                <input type="number" min="0" max="100" class="form-control" id="txtPercentBanTest" placeholder="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtPassingScore" class="col-sm-2 col-md-3 col control-label">Passing Score</label>

                            <div class="col-sm-9">
                                <input type="number" min="0" max="100" class="form-control" id="txtPassingScore" placeholder="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <label for="drnSubject" class="col-sm-2 col-md-3 control-label">Subject</label>

                            <div class="col-sm-9">
                                <select class="form-control" id="drnSubject" placeholder=""></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="drnCourse" class="col-sm-2 col-md-3 control-label">Course</label>

                            <div class="col-sm-9">
                                <select class="form-control" id="drnCourse" placeholder=""></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="drnLecturer" class="col-sm-2 col-md-3 control-label">Lecturer</label>

                            <div class="col-sm-9">
                                <select class="form-control" id="drnLecturer" placeholder=""></select>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="row justify-content-around">
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-default" id="btnClear">Delete</button>
                    </div>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-success" id="btnSave">Save</button>
                    </div>
                </div>
            </div>
            <!-- /.box-footer -->
        </div>
    </form>
</div>
<!-- /.box -->
<div class="container">
    <div class="row mt-2">
        <table class="table">
            <tr>
                <th>
                    @Html.Label("No")
                </th>
                <th>
                    @Html.Label("Last Name")
                </th>
                <th>
                    @Html.Label("First Name")
                </th>
                <th>
                    @Html.Label("Gender")
                </th>
                <th>
                    @Html.Label("Date of Birth")
                </th>
                <th>
                    @Html.Label("Address")
                </th>
                <th>
                    @Html.Label("Email")
                </th>
                <th>
                    @Html.Label("Phone")
                </th>
                <th>

                </th>
            </tr>
            <tbody id="dataTable"></tbody>
        </table>
    </div>
</div>

