
@{
    ViewBag.Title = "Internship";
}

<h2>Internship</h2>
<link href="~/Content/bootstrap.min.css" type="text/css" />
<script src="~/Content/admin-lte/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Create new internship</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <form>
        
            <div class="container box-body">
                <input class="row" id="id" hidden />
                <div class="form-row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group col-md-12">
                            <label for="txtStudentID" class="col-sm-2 col-md-3 col control-label">Student ID</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="txtStudentID" placeholder="">
                            </div>
                        </div>
                        <!-- / Student ID-->
                        <div class="form-group col-md-12">
                            <label for="dtpStartDate" class="col-sm-2 col-md-3 control-label">Start Date</label>

                            <div class="col-sm-9">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="date" class="form-control pull-left" id="dtpStartDate" style="width:242px">
                                </div>
                            </div>
                        </div>
                        <!-- / Start Date -->
                        <div class="form-group col-md-12">
                            <label for="dtpContractDate" class="col-sm-2 col-md-3 control-label">Contract Date</label>

                            <div class="col-sm-9">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="date" class="form-control pull-left" id="dtpContractDate" style="width:242px">
                                </div>
                            </div>
                        </div>
                        <!-- / Contract Date -->
                        <div class="form-group col-md-12">
                            <label for="selectStatus" class="col-sm-2 col-md-3 col control-label">Status</label>

                            <div class="col-sm-9">
                                <div class="form-group">
                                    <select class="form-control" id="selectStatus">
                                        <option>status_1</option>
                                        <option>status_2</option>
                                        <option>status_3</option>
                                        <option>status_4</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- / Status -->
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group col-md-12">
                            <label for="editor" class="col-sm-2 col-md-3 col control-label">Note</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="editor" name="editor" rows="8">Type here!</textarea>
                            </div>
                        </div>
                    </div>
                    <!-- / Note -->
                </div>
                <!-- /.form-row -->
            </div>
            <!-- /.box-body -->

            <div class="container box-footer">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-default" id="btnClear">Clear</button>
                                <button type="submit" class="btn btn-info" id="btnCreate">Create</button>
                                <button type="submit" class="btn btn-success" id="btnSave">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-footer -->
        
    </form>

</div>
    <!-- /.box -->
<div class="box">
    <div class="container">
        <div class="row mt-2">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.Label("No")
                        </th>
                        <th>
                            @Html.Label("Student ID")
                        </th>
                        <th>
                            @Html.Label("Start Date")
                        </th>
                        <th>
                            @Html.Label("Contract Date")
                        </th>
                        <th>
                            @Html.Label("Status")
                        </th>
                        <th>
                            @Html.Label("Note")
                        </th>

                    </tr>
                </thead>
                <tbody id="dataTable">
                    <tr>
                        <td>1</td>
                        <td>1512091</td>
                        <td>15/02/2019</td>
                        <td>15/02/2019</td>
                        <td>status_1</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1512091</td>
                        <td>15/02/2019</td>
                        <td>15/02/2019</td>
                        <td>status_1</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1512091</td>
                        <td>15/02/2019</td>
                        <td>15/02/2019</td>
                        <td>status_1</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
